<html lang='en'>

<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>

<body>
  <div>
    <div class='center'>
      <div class='title'>Classify Programming Lanuage Snippets</div>
      <h2>
        Enter some code and the programming language of the code will be displayed!
      </h2>
      <h3>
          I can distinguish between the following languages:<br />
          bash, c, c#, c++, css, haskell, html, java, javascript, lua, markdown, objective-c, perl, php, python, r, ruby, scala, sql, swift, and vb.net
      </h3>
      <p>
        I would like to thank Kamel Alrashedy (Kamel@uvic.ca) for his dataset of categorized programming languages, 
        available <a href="https://drive.google.com/open?id=1leMs0rdKAfX1UYEhSEe9a1npIWrIvqr6">here</a>.
      </p>
      <p>
        I would also like to thank Jeremy Howard and his class, <b>Practical Deep Learning for Coders, v3</b>, available <a href="https://course.fast.ai/">here</a>, which taught me how to do this.
      </p>
      <div class='content'>
        <form onsubmit="analyze(event)">
          <textarea id="input-data" cols="100" rows="25"></textarea>
          <div class='analyze'>
            <button id='analyze-button' class='analyze-button' type='submit'>Analyze</button>
          </div>
        </form>
        <div class='result-label'>
          <label id='result-label'></label>
        </div>
      </div>
    </div>
  </div>
</body>

</html>